@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    position: relative;
    background: linear-gradient(to bottom, #FFA411 51%, #DDD4CE 100%);
    overflow-y: hidden;
}

.icone{
 width: 100px;
 height: 100px;
 background-color: #FFD288;
 border-radius: 15%;
 margin-left: 30px;

}

.barra{
    width: 80%;
    height: 100px;
    background-color: #FFD288;
    border-radius: 20px;
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    padding: 40px;
    
}

img{
    width: 100px;
    height: 100px;
}
.camera{
    width: 1000px;
    height: 600px;
    background-color: black;
}

main{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
