@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    position: relative;
    background: linear-gradient(to bottom, #FFA411 40%, #DDD4CE 100%);
    overflow-y: hidden;
}

p {
    margin: 0;

}

.navbar {
    width: 100%;
    background-color: #FFA411;
    color: white;
}

.header {
    padding: 0%;
}

h5 {
    color: #805209;
    font-family: "Roboto", serif;
}

.barra {
    width: 100%;
    height: 20px;
    background-color: #805209;
}

.pendentes {
    width: 60%;
    height: 90px;
    border-radius: 10px;
    background-color: #FFD288;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px;
    padding: 20px;
    font-size: 30px;
    color: #805209;
}

.barras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.botao {
    width: 70px;
    height: 30px;
    background-color: #4BAD00;
    border-radius: 15px;
}

.entrega {
    width: 80%;
    height: 300px;
    background-color: #FFD288;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grande {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 40px;
}

.grande img {
    margin-left: 150px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
.input-sugestao {
    width: 100%;
    height: auto; /* Ajusta a altura conforme o conteúdo */
    font-size: 18px;
    border: none; /* Remove a borda */
    outline: none; /* Remove a borda azul ao focar */
    background: transparent; /* Torna o fundo transparente */
    text-align: center; /* Centraliza o texto */
    font-family: 'Roboto', sans-serif;
    resize: none; /* Impede redimensionamento */
    overflow: hidden; /* Esconde a barra de rolagem */
}