@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html, body{
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
}

.mynav{
  background-color: #FFA411;
  font-family: robo;
  color: white;
  font-family: "Roboto", serif;
  margin-left: -500px;

}