@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    position: relative;
    background: linear-gradient(to bottom, #FFA411 40%, #DDD4CE 100%);
    overflow-y: hidden;
}

p {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #805209;
    font-family:'Roboto', sans-serif ;
}
.circle {
    width: 100%;
    height: 250px;
    background-color: #FFD288;
    border-bottom-left-radius: 150% 700px;
    border-bottom-right-radius: 150% 700px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;

}
.logo {
    display: flex;
    flex-direction: row;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 20px;

}

main {
    margin-top: 80px;
}

h4{
    color: #805209;
    font-family: 'Roboto', sans-serif;
}
h5{
    color: #805209;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.quadrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enviar{
    width:200px;
    height: 60px;
    background-color: #FFD288;
    border-radius: 15px;
}
.quadrados{
    width: 800px;
    height: 300px;
    background-color: #FFD288;
    border-radius: 30px ;

}
.editar img{
    width: 25px;
  
}
.editar{
    display: flex;          
    justify-content: flex-end; 
    align-items: flex-end; 
    height: 130px;        
    gap: 10px;    
    padding-right: 30px;
}