@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f5a623;
    overflow-y: hidden;
    position: relative;

}

.circle {
    width: 100%;
    height: 250px;
    background-color: #FFD288;
    border-bottom-left-radius: 150% 700px;
    border-bottom-right-radius: 150% 700px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;

}

.barras {
    width: 700px;
    height: 70px;
    background-color: #FFD288;
    border-radius: 20px;
    margin: 60px;
    padding: 20px;
    font-size: 20px;
    /* Define o tamanho do texto */
    font-family: 'Roboto', sans-serif;
    /* Fonte personalizada */
    color: #805209;
    /* Cor do texto digitado */
    border: 2px solid #d89e5a;
    /* Borda sutil */
    display: flex;
    align-items: center;
    outline: none;
    /* Remove a borda azul padrão ao focar */
    overflow: hidden;
    /* Evita que o texto saia da caixa */
    direction: ltr;
    /* Força o texto da esquerda para a direita */
    text-align: left;
    unicode-bidi: plaintext;
}

.barras:focus {
    border-color: #FFA411;
    /* Muda a cor da borda ao clicar */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    color: #805209;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h2 {
    color: #805209;
    font-family: 'Roboto', sans-serif;
    margin: 40px;
}
.enviar{
    width: 300px;
    height: 60px;
    background-color: #FFD288;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    color: #805209;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}
p{
    margin: 20px;
}