@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #DDD4CE;

}

.icone {
    width: 6vw;
    height: 6vw;
    background-color: #FFD288;
    border-radius: 15%;
    margin-left: 2vw;
}

.barra {
    width: 80%;
    height: 10vh;
    background-color: #FFD288;
    border-radius: 20px;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5vh;
}

img {
    width: 6vw;
    height: 6vw;
}

h1 {
    font-family: "Roboto", serif;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.retangulo {
    height: 70vh;
    width: 40vw;
    margin: 1.5vw;
    background: linear-gradient(to top, #DDD4CE, #FFA411);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.bloco {
    width: 12vw;
    height: 16vh;
    background-color: #805209;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.7vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 948px) {
    .bloco {
        width: 14vw;
        height: 16vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 8vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 3vw;
        font-family: "Roboto", serif;
    }

    img {
        width: 8vw;
        height: 8vw;
    }

    .icone {
        width: 8vw;
        height: 8vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 2vw;
    }

    h2 {
        font-size: 2vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 749px) {
    .bloco {
        width: 12vw;
        height: 14vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 6vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 3vw;
        font-family: "Roboto", serif;
        display: flex;
        align-items: center;
    }

    img {
        width: 8vw;
        height: 8vw;
    }

    .icone {
        width: 8vw;
        height: 8vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 2vw;
    }

    h2 {
        font-size: 2vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 810px) {
    .bloco {
        width: 18vw;
        height: 18vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 6vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4vw;
        font-family: "Roboto", serif;
        margin: 1vw;
    }

    img {
        width: 15vw;
        height: 15vw;
    }

    .icone {
        width: 15vw;
        height: 15vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 1vw;
    }

    h2 {
        font-size: 2.5vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 675px) {
    .bloco {
        width: 10vw;
        height: 12vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 6vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 3vw;
        font-family: "Roboto", serif;
        display: flex;
        align-items: center;
    }

    img {
        width: 8vw;
        height: 8vw;
    }

    .icone {
        width: 8vw;
        height: 8vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 2vw;
    }

    h2 {
        font-size: 2vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 680px) {
    .bloco {
        width: 16vw;
        height: 16vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 6vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4vw;
        font-family: "Roboto", serif;
        margin: 1vw;
    }

    img {
        width: 13vw;
        height: 13vw;
    }

    .icone {
        width: 13vw;
        height: 13vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 1vw;
    }

    h2 {
        font-size: 2.5vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 555px) {
    .bloco {
        width: 18vw;
        height: 20vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 6vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4vw;
        font-family: "Roboto", serif;
        margin: 1vw;
    }

    img {
        width: 15vw;
        height: 15vw;
    }

    .icone {
        width: 15vw;
        height: 15vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 1vw;
    }

    h2 {
        font-size: 3.2vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 321px) {
    .bloco {
        width: 18vw;
        height: 20vh;
        background-color: #805209;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barra {
        width: 80%;
        height: 6vh;
        background-color: #FFD288;
        border-radius: 20px;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4vw;
        font-family: "Roboto", serif;
        margin: 1vw;
    }

    img {
        width: 15vw;
        height: 15vw;
    }

    .icone {
        width: 15vw;
        height: 15vw;
        background-color: #FFD288;
        border-radius: 15%;
        margin-left: 1vw;
    }

    h2 {
        font-size: 4vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}